services:
  - type: web
    name: unizd-oglasnik
    env: python
    plan: free
    region: oregon
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_SERVER
        sync: false
      - key: MAIL_PORT
        sync: false
      - key: MAIL_USE_TLS
        sync: false
      - key: MAIL_USE_SSL
        sync: false
      - key: MAIL_DEFAULT_SENDER
        sync: false
      - key: MONGO_URI
        value: mongodb+srv://rokod:12345@cluster0.s08wgr0.mongodb.net/notes_app?retryWrites=true&w=majority
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: USER_USERNAME
        sync: false
      - key: USER_EMAIL
        sync: false
      - key: USER_PASSWORD
        sync: false
